.background {
    background: url(/img/BGHashtag.png) no-repeat top scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

@media (max-width: 768px) {
    .background {
        background: url(/img/BGHashtag.png) no-repeat top scroll; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        height: 70vh;
    }
}